%p#notice= notice

%p
  %b Structure
  = image_tag @common_template.icon.url(:small)
%p
  %b Name:
  = @common_template.name
%p
  %b Category:
  = @common_template.category_name
%p
  %b Notes:
  = @common_template.notes
%p
  %b Approved at:
  = @common_template.approved_at
%p
  %b Rejected at:
  = @common_template.rejected_at

= link_to 'Edit', edit_common_template_path(@common_template)
\|
= link_to 'Back', common_templates_path
