%p#notice= notice

%p
  %b Structure
  - if @common_template&.icon_path.present?
    = image_tag '/images/templates/' + @common_template.icon_file_name, style: 'height:auto; width:10%;'
  - else @common_template&.icon_file_name.present?
    = image_tag '/images/ketcherails/icons/small/' + @common_template&.icon_file_name

%p
  %b Name:
  = @common_template.name
%p
  %b Category:
  = @common_template.category_name
%p
  %b Notes:
  = @common_template.notes
%p
  %b Approved at:
  = @common_template.approved_at
%p
  %b Rejected at:
  = @common_template.rejected_at

= link_to 'Edit', edit_common_template_path(@common_template), class: 'template-form-link'
\|
= link_to 'Back', common_templates_path
