%p#notice= notice

%p
  %b Name:
  = @template_category.name

%p
  %b Icon:
  = image_tag ('/images/ketcherails/icons/small/' + @template_category&.icon_file_name || '/images/templates/' + @template_category.icon_file_name)

= link_to 'Edit', edit_template_category_path(@template_category)
\|
= link_to 'Back', template_categories_path
